<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldMagenta(%d{yyyy-MM-dd HH:mm:ss}) %boldCyan([%thread]) %highlight(%-8p) %yellow(%-40C): %magenta(%-4L) :: %m %n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.democamel" level="debug"/>

    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>

</configuration>